<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>todo</title>
    <link rel="stylesheet" type="text/css" href="~/Areas/ControlPanel/Styles/site.css" />
</head>
    <body>
        @RenderBody()
    </body>
</html>
